<div class="row">
  <div class="header col-sm-10 col-sm-offset-1">
    <div class="jumbotron">

      <div class="slider-header">
        <div class="slider">
          <% slider_album = @shuffled_album.sample(6) %>
          <% slider_album.each do |a| %>
          <div class="img-size">
            <%= image_tag a.img_url, class: "slide-img" %>
          </div>
          <% end %>

        </div>
      </div>

    </div>
  </div>
</div>

<div class="row">
  <div class="header col-sm-10 col-sm-offset-1">
    <div>
      <div class="mid-hr"><hr></div>
      <ul class="mid-menu">
        <li class="menu-item">
          <div class="hover-menu"></div>
          <a href="#" class="all">All</a>
        </li>
        <% @menu_items.each do |m| %>
        <li class="menu-item">
          <div class="hover-menu"></div>
          <%= link_to m, "#", class: m.downcase %>
        </li>
        <% end %>
      </ul>
      <div class="mid-hr"><hr></div>
    </div>
  </div>
</div>

<div class="row">
  <div class="tag-section col-sm-10 col-sm-offset-1">


    <% total_col = 4 %>
    <% nums_per_col = @shuffled_album.count / total_col %>
    <% album_array = @shuffled_album.each_slice(nums_per_col).to_a %>


    <% album_array.each do |array_section| %>
    <div class="col">

      <% array_section.each do |album| %>
      <div class="tag-wrapper all <%= Category.find_by(id: album.category_id).name.downcase %>">
        <div class="tag-image">
          <%= link_to image_tag(album.img_url), :controller => "albums", :action => "show", :id => album.id %>
          <span class="caption  scale-caption">
            <h3><%= link_to "+", :controller => "albums", :action => "show", :id => album.id %></h3>
          </span>
        </div>
        <div class="tag-link">
          <p><%= link_to album.look_title, :controller => "albums", :action => "show", :id => album.id %></p>
        </div>
      </div>
      <% end %>

    </div>
    <% end %>


  </div>
</div>




