
<div class="row">
  <div class="new-album header col-sm-10 col-sm-offset-1">
    <%= link_to 'New Album', new_album_path, class: "new-album-tag" %>
  </div>
  <div class="col-sm-10 col-sm-offset-1">

<% @albums.each do |album| %>

    <div class="albums-wrapper">
      <div class="img-wrapper">
        <div class="controls">
          <p>
            <%= link_to 'Show', album %> |
            <%= link_to "Edit", edit_album_path(album) %> |
            <%= link_to "Destroy", album, method: :delete, data: { confirm: 'Are you sure?' } %>
          </p>
        </div>
        <div class="album-image">
          <%= link_to image_tag(album.img_url), :controller => "albums", :action => "show", :id => album.id %>
        </div>
        <div class="album-img-url">
          <p class="link"><%= album.img_url %></p>
        </div>
      </div>
      <div class="desc-wrapper">
        <div class="album-look-type">
          <h1><%= album.category.name %></h1>
        </div>
        <div class="album-look-desc">
          <p class="title">Look Description: </p>
          <p><%= album.look_desc %></p>
        </div>
        <div class="album-source">
          <p class="title">Source: </p>
          <p><%= album.link_name %></p>
          <p class="link"><%= album.link_url %></p>
        </div>
      </div>
    </div>
<% end %>
  </div>
</div>

