<div class="row">
  <div class="header col-sm-10 col-sm-offset-1">
    <div class="jumbotron show">

      <div class="header-wrapper show">

        <div class="col-left">

          <div class="tag-header show">
            <h1><%= @album.look_title %></h1>
          </div>

          <div class="main-tag-wrapper show">

            <div class="main-tag-img show">
              <%= image_tag(@album.img_url) %>
            </div>
            <div class="main-tag-link show">
              <p>Spotted on <%= link_to @album.link_name, @album.link_url, :class => "tag-link-page-header",:target => "_blank" %></p>
            </div>

            <div class="mid-hr show"><hr></div>
<!-- Top Products -->
            <div class="category show">
              <p>Tops</p>
            </div>

            <div class="stash-container show">

              <% @tops.each do |item| %>
              <div class="stash-wrapper">
                <a href=<%= item.link_url %>><img src=<%= item.img_url %>></a>
                <div class="stash-brand text">
                  <p><%= item.brand %></p>
                </div>
                <div class="stash-name text">
                  <p><%= item.name %></p>
                </div>
                <div class="stash-price text">
                  <p>$<%= item.us_price %></p>
                </div>
              </div>
              <% end %>

            </div>

<!-- Bottom product -->
            <div class="category show">
              <p>Bottoms</p>
            </div>
            <div class="stash-container show">

              <% @bottoms.each do |item| %>
              <div class="stash-wrapper">
                <a href=<%= item.link_url %>><img src=<%= item.img_url %>></a>
                <div class="stash-brand text">
                  <p><%= item.brand %></p>
                </div>
                <div class="stash-name text">
                  <p><%= item.name %></p>
                </div>
                <div class="stash-price text">
                  <p>$<%= item.us_price %></p>
                </div>
              </div>
              <% end %>

            </div>

<!-- Doodad products -->
            <div class="category show">
              <p>Doodads</p>
            </div>
            <div class="stash-container show">

              <% @doodads.each do |item| %>
              <div class="stash-wrapper">
                <a href=<%= item.link_url %>><img src=<%= item.img_url %>></a>
                <div class="stash-brand text">
                  <p><%= item.brand %></p>
                </div>
                <div class="stash-name text">
                  <p><%= item.name %></p>
                </div>
                <div class="stash-price text">
                  <p>$<%= item.us_price %></p>
                </div>
              </div>
              <% end %>

            </div>


          </div>

        </div>



        <div class="col-right">

          <div class="sidebar-header show">
            <h1>RELATED</h1>
          </div>

          <% album_array = @shuffled_album.slice(0..7) %>

          <% album_array.each do |album| %>
          <div class="tag-wrapper show">
            <div class="tag-image show">
              <%= link_to image_tag(album.img_url), :controller => "albums", :action => "show", :id => album.id %>
            </div>
            <div class="tag-desc show">
              <p><%= link_to album.look_title, :controller => "albums", :action => "show", :id => album.id %></p>
            </div>
          </div>
          <% end %>

<!--           <div class="tag-wrapper show">
            <div class="tag-image show">
              <a href="#">
                <img src="http://41.media.tumblr.com/9e1ec9332766447fa2af8c03c0431f1b/tumblr_mzm90gcUT61sfb7xio1_1280.jpg">
              </a>
            </div>
            <div class="tag-desc show">
              <p>#thelook</p>
            </div>
          </div>

          <div class="tag-wrapper show">
            <div class="tag-image show">
              <a href="#">
                <img src="http://3.bp.blogspot.com/_PLdSAZhCBv0/TFEsW9oUnwI/AAAAAAAAAG4/p9YvH3GDqUI/s1600/pittigelato.jpg">
              </a>
            </div>
            <div class="tag-desc show">
              <p>#thelook</p>
            </div>
          </div>

          <div class="tag-wrapper show">
            <div class="tag-image show">
              <a href="#">
                <img src="http://le-21eme.com/wp-content/uploads/2012/10/2585-Le-21eme-Adam-Katz-Sinding-Billy-Nigel-SoHo_D4A6191.jpg">
              </a>
            </div>
            <div class="tag-desc show">
              <p>#thelook</p>
            </div>
          </div>

          <div class="tag-wrapper show">
            <div class="tag-image show">
              <a href="#">
                <img src="http://i52.tinypic.com/10x95pg.jpg">
              </a>
            </div>
            <div class="tag-desc">
              <p>#thelook</p>
            </div>
          </div>

          <div class="tag-wrapper show">
            <div class="tag-image show">
              <a href="#">
                <img src="http://www.itslavida.com/files/2014/06/2.png">
              </a>
            </div>
            <div class="tag-desc">
              <p>#thelook</p>
            </div>
          </div> -->

        </div>



    </div>
  </div>
</div>