<div class="row">
  <div class="header col-sm-10 col-sm-offset-1">
    <div class="jumbotron show">

    <div>
      <%= link_to 'Edit', edit_album_path(@album) %> |
      <%= link_to "Destroy", @album, method: :delete, data: { confirm: 'Are you sure?' } %> |
      <%= link_to "View All", albums_path %>
    </div>

      <div class="header-wrapper show">

        <div class="col-left">

          <div class="tag-header show">
            <h1><%= @album.look_title %></h1>
          </div>

          <div class="main-tag-wrapper show">

            <div class="main-tag-img show">
              <%= image_tag(@album.img_url) %>
            </div>
            <div class="main-tag-link show">
              <p>Spotted on <%= link_to @album.link_name, @album.link_url, :class => "tag-link-page-header",:target => "_blank" %></p>
            </div>

            <div class="mid-hr show"><hr></div>
<!-- Top Products -->
            <div class="category show">
              <p>Tops</p>
            </div>

            <div class="stash-container show">

              <% @tops.each do |item| %>
              <div class="stash-wrapper">
                <a href=<%= item.link_url %>><img src=<%= item.img_url %>></a>
                <div class="stash-brand text">
                  <p><%= item.brand %></p>
                </div>
                <div class="stash-name text">
                  <p><%= item.name %></p>
                </div>
                <div class="stash-price text">
                  <p>$<%= item.us_price %></p>
                </div>
              </div>
              <% end %>

            </div>

<!-- Bottom product -->
            <div class="category show">
              <p>Bottoms</p>
            </div>
            <div class="stash-container show">

              <% @bottoms.each do |item| %>
              <div class="stash-wrapper">
                <a href=<%= item.link_url %>><img src=<%= item.img_url %>></a>
                <div class="stash-brand text">
                  <p><%= item.brand %></p>
                </div>
                <div class="stash-name text">
                  <p><%= item.name %></p>
                </div>
                <div class="stash-price text">
                  <p>$<%= item.us_price %></p>
                </div>
              </div>
              <% end %>

            </div>

<!-- Doodad products -->
            <div class="category show">
              <p>Doodads</p>
            </div>
            <div class="stash-container show">

              <% @doodads.each do |item| %>
              <div class="stash-wrapper">
                <a href=<%= item.link_url %>><img src=<%= item.img_url %>></a>
                <div class="stash-brand text">
                  <p><%= item.brand %></p>
                </div>
                <div class="stash-name text">
                  <p><%= item.name %></p>
                </div>
                <div class="stash-price text">
                  <p>$<%= item.us_price %></p>
                </div>
              </div>
              <% end %>

            </div>


          </div>

        </div>



        <div class="col-right">

          <div class="sidebar-header show">
            <h1>RELATED</h1>
          </div>

          <% album_array = @shuffled_album.slice(0..7) %>
          <div class="col">
            <% album_array.each do |album| %>
            <div class="tag-wrapper show">
              <div class="tag-image show">
                <%= link_to image_tag(album.img_url), :controller => "albums", :action => "show", :id => album.id %>
                <span class="caption  scale-caption">
                  <h3><%= link_to "+", :controller => "albums", :action => "show", :id => album.id %></h3>
                </span>
              </div>
              <div class="tag-desc show">
                <p><%= link_to album.look_title, :controller => "albums", :action => "show", :id => album.id %></p>
              </div>
            </div>
            <% end %>
          </div>
        </div>
    </div>
  </div>
</div>