<!DOCTYPE html>
<html>
<head>
  <title>TROVER</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag '//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css' %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">

    <!-- header starts here -->
    <div class="row">
      <div class="header col-sm-10 col-sm-offset-1">
        <div class="name"><%= link_to "Trover", { :controller => "welcome", :action => "index" }, :class => "logo" %></div>
        <div class="quote">
          <h2>Be careless in your dress if you will, but keep a tidy soul. <span class="quote-author">- <a href="http://en.wikipedia.org/wiki/Mark_Twain" target="_blank">Mark Twain</a><span></h2>
        </div>
        <!-- menu bar starts here -->
        <div class="top-hr"><hr></div>
        <ul class="main-menu">
          <li><a href="#">New</a></li>
          <li><a href="#">Men</a></li>
          <li><a href="#">Women</a></li>
          <li><%= link_to 'Create', :controller => "albums", :action => "new" %></li>
        </ul>
      </div>
    </div>
  </div>

  <!-- content starts here -->
  <div class="container">
    <%= yield %>
  </div>

  <!-- footer starts here -->
  <div class="container">
    <div class="row">
      <div class="header col-sm-10 col-sm-offset-1">
        <div class="footer">
          <div class="btm-hr"><hr></div>
        </div>
      </div>
    </div>
  </div>

  <%= javascript_include_tag '//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js' %>
  <%= javascript_include_tag '//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
</body>
</html>
